#root{
  background: #ccc;
}
.main{
  
  background: #eee;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top:17%;
  padding: 30px;
}
.counter{
  font-size:22px;
}
.increment{
  background: #5cb85c;
  padding:15px;
  border: none;
  margin:10px;
  border-radius: 100px;
}
.decrement{
  background: #d9534f;
  padding:15px;
  border: none;
  margin:10px;
  border-radius: 100px;
}